*{
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar{
  /* solo oculta su visualizacion */
  display: none;
}
body{
  overflow-y:hidden;
  background:#241232 !important;
}
a:hover, a:visited, a:link, a:active{
      color:none;
      cursor: pointer;
      text-decoration: none;
  }

  a:link:hover{
    text-decoration: none;
  }
   button:focus{
     outline:inherit !important;
   }a
   input:focus{
     outline:inherit !important;
   }
   label{
     position: absolute;
     background:#241232;
     transform: scale(.8);
     padding:3px 20px;
     border-radius:30px;
   }
   .col-12 {
    padding-left: 7.5px !important;
    padding-right: 7.5px !important;
    margin-bottom: 15px;
   }


   /*Aside-left*/
   .aside-left{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
   }



   /*Content-center*/
   .content-center {
    height: 100vh;
    overflow: scroll;
    padding-top: 145px;
    }

    .content-center::-webkit-scrollbar{
    display:none;
    }




   /*Aside-right*/
   .aside-right{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
   }
   /*Over here ends*/



   /*Responsive design*/
   @media screen and (min-width:0px) and (max-width:1000px){
  .nav-header-general{
  max-width: 1020px !important;
  }
  .aside-left{
    display:none;
  }
  .logo-header{
    display:none;
  }
}


.card{
  background:#fff;
  border-radius:8px;
  height:255px;
}
